// In questo file vengono definiti le diverse grafiche per i bottoni
// @Autor Leonardo Basso

.btn--red
  @include custom-box($light-red, 0.05, 0.2)
  transition: .15s

.btn--green
  @include custom-box($light-green, 0.05, 0.2)
  transition: .15s

.btn--link
  border: none
  background-color: transparent
  text-decoration: underline
  &:hover
    border: none
    box-shadow: none
